:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --header-bg-color: #ececec;
  --primary-bg-color: #f5f5f5;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --portfolio-bg-color: #eeeeee;
  --hover-button: #188ce8;
  --overlay: rgba(47, 48, 58, 0.4);
  --icon-color: #afb1b8;
  --container-set-gap: 15px;
  --icon-bg: rgba(255, 255, 255, 0.1);
  --box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --section-padding: 94px;
  --section-gap: 30px;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--primary-text-color);
  font-family: 'Roboto', 'Raleway', 'Arial', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-set-gap);
  padding-right: var(--container-set-gap);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* primary text color #757575 */
/* secondary text color #212121*/
/* accent color #2196f3 */
/* primary background color #f5f5f5 */
/* secondary background color #EEEEEE */
/* header background color #ececec */
/* footer background color #2F303A */
/* our team bcg color #F5F4FA */

/* Header customisation */

.page-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 80px;
  background-color: var(--primary-white-color);
  border-bottom: 1px solid var(--header-bg-color);
  z-index: 100;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo-header,
.logo-footer {
  display: inline-block;

  text-decoration: none;
  font-family: Raleway, cursive;
  font-size: 26px;
  font-weight: 700;
  line-height: calc(35.96 / 26);
}

.logo-header {
  margin-right: 93px;
}

.logo-part-one {
  color: var(--accent-color);
}

.logo-part-two {
  color: var(--primary-black-color);
}
.logo-part-three {
  color: var(--primary-white-color);
}

/* Site nav */

.site-nav {
  display: flex;
}

.site-nav .item + .item,
.contacts-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  position: relative;

  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
  font-family: inherit;
  font-weight: 500;
  line-height: calc(16.41 / 14);
  letter-spacing: 0.02em;
  color: var(--title-text-color);

  transition: color 250ms var(--timing-function);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* .site-nav .link.current {
  transition: scaleX 250ms var(--timing-function);
} */

.site-nav .link.current::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

/* Contacts nav */

.contacts-nav {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contacts-nav .link {
  display: flex;
  align-items: center;
  text-decoration: none;

  font-family: inherit;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: inherit;
  fill: currentColor;

  transition: color 250ms var(--timing-function), fill 250ms var(--timing-function);
}

.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-color);
}

.icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;

  fill: currentColor;
}

.icon-tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;

  fill: currentColor;
}

/* main customisation */
/* hero */

.hero {
  background-image: linear-gradient(to right, var(--overlay), var(--overlay)),
    url(../images/main/hero.jpg);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
  background-color: var(--footer-bg-color);
}

.button {
  display: inline-flex;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  align-items: center;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;

  transition: background-color 250ms var(--timing-function)-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms var(--timing-function)-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--hover-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
}

.hero-container {
  width: 696px;
  margin: 0 auto;
  max-height: 200px;
}

.hero-container h1 {
  margin-bottom: var(--section-gap);
}

/* sections */

.section {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.section-nopadding {
  padding-top: 0;
  padding-bottom: var(--section-padding);
}

.section > h3 {
  margin-bottom: 10px;
}

.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(42.19 / 36);
  text-align: center;
  color: var(--title-text-color);
}

.features {
  display: flex;
  gap: var(--section-gap);
}

.features-bg {
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  background-color: var(--secondary-bg-color);
}

.features-title {
  margin-bottom: 10px;
}

.features-text {
  line-height: calc(24 / 14);
}

.features .features-title {
  font-weight: 700;
  line-height: calc(16.41 / 14);
  text-transform: uppercase;
  color: var(--title-text-color);
}

.icon-features {
  width: 70px;
  height: 70px;
}

/* Product section */

.product {
  display: flex;
  gap: var(--section-gap);
}

.product-1,
.product-2,
.product-3 {
  position: relative;
}

.product-thumb {
  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
}

.product-thumb p {
  line-height: calc(16.41 / 14);
  text-transform: uppercase;
  font-weight: 700;

  color: var(--primary-white-color);
}

/* Our team section */

.section-bg {
  background-color: var(--secondary-bg-color);
}

.team {
  display: flex;
  padding-inline-start: 0;
}

.team .link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  fill: currentColor;
  border-radius: 50%;

  font-family: inherit;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  background-color: var(--primary-white-color);

  transition: color 250ms var(--timing-function)-bezier(0.4, 0, 0.2, 1),
    background-color 250ms var(--timing-function)-bezier(0.4, 0, 0.2, 1);
}

.team .link:hover,
.team .link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.member-card {
  text-align: center;
  padding: var(--section-gap);
}

.member {
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  background-color: var(--primary-white-color);
}

.member-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(18.75 / 16);
  color: var(--title-text-color);
}

.member-text {
  margin-top: 10px;
  margin-bottom: 16px;
}

.team {
  gap: var(--section-gap);
}

.list .socials {
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
}

/* Our Clients Section */

.clients {
  display: flex;
  gap: var(--section-gap);
}

.clients .link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  fill: currentColor;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;

  transition: fill 250ms var(--timing-function)-bezier(0.4, 0, 0.2, 1),
    border-color 250ms var(--timing-function)-bezier(0.4, 0, 0.2, 1);
}

.clients .link:hover,
.clients .link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.client-icon {
  width: 106px;
  height: 60px;
}

/* footer customisation */

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-bg-color);
}

.ft-flex {
  display: flex;
  align-items: baseline;
}

.page-footer address {
  line-height: calc(24 / 14);
  margin-top: 20px;
}

.address-nav {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.address-nav .link {
  display: flex;
  flex-direction: column;

  font-style: normal;
  text-decoration: none;
  color: inherit;

  transition: color 250ms var(--timing-function)-bezier(0.4, 0, 0.2, 1);
}

.ftwhite {
  color: var(--primary-white-color);
}

.address-nav .link:hover,
.address-nav .link:focus {
  color: var(--accent-color);
}

/* socials */

.footer-socials {
  margin-left: 70px;
}

.socials {
  display: flex;
  gap: 10px;
}

.socials-text {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.socials-nav {
  display: flex;
  gap: 10px;
}

.socials-nav .link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-white-color);
  fill: currentColor;
  border-radius: 50%;
  background-color: var(--icon-bg);

  transition: background-color 250ms var(--timing-function)-bezier(0.4, 0, 0.2, 1);
}

.socials-nav .link:hover,
.socials-nav .link:focus {
  background-color: var(--accent-color);
}

.soc-icon {
  width: 20px;
  height: 20px;
}

/* Портфоліо page customisation */

/* Button */

.btn {
  display: flex;
  margin-bottom: 50px;
  gap: 8px;

  justify-content: center;
  align-self: center;
}

.item-btn {
  display: flex;
  border-radius: 4px;
  border: none;
  border-color: transparent;
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: calc(26 / 16);
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  cursor: pointer;

  transition: color 250ms var(--timing-function)-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms var(--timing-function)-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms var(--timing-function)-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms var(--timing-function)-bezier(0.4, 0, 0.2, 1);
}

.item-btn:hover,
.item-btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-color: transparent;
  box-shadow: var(--box-shadow);
}

/* Portfolio page customisation */

.flex-container {
  width: 1170px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  gap: var(--section-gap);
}

.flex-elements {
  width: calc((100% - 60px) / 3);
  border: 1px solid var(--portfolio-bg-color);
}

.project-content {
  padding: 20px 24px;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.project-text {
  font-size: 16px;
  line-height: calc(30 / 16);
}

.flex-container .link {
  display: inline-block;
  text-decoration: none;
  color: inherit;

  transition: box-shadow 250ms var(--timing-function)-bezier(0.4, 0, 0.2, 1);
}

.flex-container .link:hover,
.flex-container .link:focus {
  box-shadow: var(--box-shadow);
}
